<div class="container-fluid">
  <table class="table" style="width: auto;">
    <thead>
      <tr>
        <th style="background-color: black; color: white; padding: 0.5rem 1.5rem;">#</th>
        <th style="background-color: black; color: white; padding: 0.5rem 1.5rem;">Nombre común</th>
        <th style="background-color: black; color: white; padding: 0.5rem 1.5rem;">Tipo</th>
        <th style="background-color: black; color: white; padding: 0.5rem 1.5rem;">Clima</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planta of plants; let i = index">
        <td class="numero-tabla" style="padding: 0.5rem 1.5rem;">{{ i + 1 }}</td>
        <td style="padding: 0.5rem 1.5rem;">{{ planta.nombre_comun }}</td>
        <td style="padding: 0.5rem 1.5rem;">{{ planta.tipo }}</td>
        <td style="padding: 0.5rem 1.5rem;">{{ planta.clima }}</td>
      </tr>
    </tbody>
  </table>
</div>
